# ==========================================
# SCRAPING & DATA PROCESSING
# ==========================================
Scrapy==2.11.1
pandas==2.2.1

# ==========================================
# BASE DE DONNÉES
# ==========================================
# Driver PostgreSQL
psycopg2-binary==2.9.9
# ORM pour faciliter l'insertion pandas -> PostgreSQL
SQLAlchemy==2.0.28

# ==========================================
# BACKEND API (FLASK)
# ==========================================
Flask==3.0.2
# Pour la documentation Swagger/OpenAPI (Niveau Or)
flask-restx==1.3.0
# Gestion des requêtes Cross-Origin (si le dashboard est sur un autre port)
Flask-CORS==4.0.0
# Lecture des variables d'environnement (.env)
python-dotenv==1.0.1

# ==========================================
# ASYNCHRONE & TASKS (CELERY + REDIS)
# ==========================================
celery==5.3.6
redis==5.0.3

# ==========================================
# QUALITÉ, TESTS & DÉPLOIEMENT
# ==========================================
pytest==8.1.1
# Serveur WSGI de production pour l'API Flask dans Docker
gunicorn==21.2.0

